
[Bb]in/
[Oo]bj/
[Ll]og/


.idea/
.vs/
.vscode/
*.user
*.suo
*.sln.docstates
*.userprefs


.DS_Store
.AppleDouble
.LSOverride


TestResults/
*.coverage
*.coveragexml


.nupkg/
**/[Pp]ackages/
project.lock.json